body{
	width: 90%;
	margin: 0 auto;
}

ul{
	margin: 50px 0;
}

ul li{
	display: inline-block;
}

ul li a{
	margin-right: 20px;
	padding: 20px 15px;
	background-color: cyan;
	text-decoration: none;
	color: darkblue;
	font-size: 20px;
	text-transform: uppercase;
	transition: 200ms ease-in-out;
}

ul li a:hover{
	background-color: darkblue;
	color: beige;
	border-radius: 20px;
}